<!-- THIS WILL BE THE ALL PEOPLE PAGE -->

<h1>Listing all users</h1>

<table>
  <tr>
    <th>Name</th>
  </tr>

<% for user in @users %>
  <tr>
    <td><%= link_to "#{user.name}", user_path(user) %></td>
  </tr>
<% end %>
</table>

<br />