<!-- THIS WILL BE THE FRIEND REQUEST PAGE -->

<h1>Listing friend_requests</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% for friend_request in @friend_requests %>
  <tr>
    <td><%= link_to "#{friend_request.from.name}", user_path(user) %></td>
    <td><%= link_to 'Accept', friend_request, method: :accept %></td>
    <td><%= link_to 'Reject', friend_request, method: :reject, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />