/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

 #menu{
 	width: 100%;
 	background: #3b5998;
 	height: 44px;
 }

 ul#nav {
 	list-style: none;
 	padding: 0;
 	width: 70%;
 	margin: 0 auto;

 	li {
 		float: left;
 		padding-top: 8px;

 		a {
 			padding: 16px 8px;
 			line-height: 25px;
 			text-decoration: none;
 			color: #e7ebf2;
 			font-weight: normal;

 			&:hover {
 				background: #4b67a1;
 				color: #fff;
 			}
 		}
 	}
 }

 #new_user a{
 	float: right;
 	padding: 9px 8px;
 	line-height: 25px;
 	text-decoration: none;
 	color: #e7ebf2;
 	font-weight: normal;

 	&:hover{
 		background: #4b67a1;
 		color: #fff;
 	}
 }

 .clear {
 	clear: both;
 }
