/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* DEFAULTS */

 ul#nav {
 	padding: 0;
 	width: 900px;
 	margin: 0 auto;
}

a{
  color: rgb(59, 89, 152);
  cursor: pointer;
}
h1{
  color: #1B2A47;
  font-size: 22px;
  font-weight: bold;
  font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

/* NAV BAR */
#menu{
  background: #3b5998;
  border-bottom: 1px solid #193783;
  height: 38px;
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

ul#nav {
	list-style: none;
	padding: 0;
	width: 900px;
	margin: 0 auto;

	li {
		float: right;
		padding-top: 8px;

		a {
			padding: 16px 8px;
			line-height: 25px;
			text-decoration: none;
			color: #e7ebf2;
			font-weight: normal;

    font-size: 12px;
    font-weight: bold;

			&:hover {
				background: #4b67a1;
				color: #fff;
			}
		}
	}
}

#new_user a{
	float: right;
	padding: 9px 8px;
	line-height: 25px;
	text-decoration: none;
	color: #e7ebf2;
	font-weight: normal;

	&:hover{
		background: #4b67a1;
		color: #fff;
	}
}

#logo{
	float: left;
	height: 44px;
	width: 121px;
	background: #3b5998 url('logo.png') center no-repeat;
	margin-left: -6px;
}

#logo:hover{
background: #4b67a1 url('logo.png') center no-repeat;
}
.clear {
	clear: both;
}
