// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header{
  background: white;
  border: 1px solid #ACAFB4;
  border-radius: 3px;
  width: 100%;
  height: 100px;
  margin: 0;
  padding-top: 390px;
  padding-bottom: 10px;
  position: relative;
}

#coverphoto{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

#profilephoto{
  position: absolute;
  top: 210px;
  left: 23px;

  background-color: white;
  border: 1px solid #899098;
  border-radius: 3px;
  padding: 3px;
  height: 160px;
  overflow: hidden;

  img{
    width: 160px;
  }
}

#name{
  top: 330px;
  left: 210px;
}

#btnGroup{
  position: absolute;
  top: 345px;
  right: 30px;
  height: 24px;

  border: 1px solid #A6A6A6;
  border-radius: 3px;
  background-color: #F1F1F2;
  background: -webkit-linear-gradient(top, #FDFDFD, #EAECEC);
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);

  a{
    display: inline-block;
    color: #333333;
    font-size: 13px;
    font-weight: bold;
    padding: 3px 8px;

    border-left: 1px solid #D9D9D9;

    &:first-child{
      border-left: none;
    }
    &:hover{
      text-decoration: none;
    }
  }

}

ul.col{
  vertical-align: text-top;
  display: inline-block;
  list-style-type: none;
  width: 250px;
  line-height: 25px;

  label{
    color: #908B8B;
    display: inline-block;
    width: 80px;
  }
}